@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: fit-content;
  width: 350px;
  border-radius: 20px;
  flex-wrap: wrap;
  box-shadow: 3px 20px 30px #6a6a6a;
}

.contenedor-qr {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.codigo-qr {
  height: 300px;
  border-radius: 20px;
}

.contenedor-texto {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 350px;
}

.center {
  text-align: center;
  padding: 2rem 1rem 0 2rem;
}

.titulo2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.parrafo {
  padding-bottom: 3rem;
  font-weight: 400;
  color: #969696;
  font-size: 15px;
}
